<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homi.model.mapper.SysDictMapper">
    <resultMap type="com.homi.model.entity.SysDict" id="SysDictMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="deleted" column="del_flag" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 结果映射 -->
    <resultMap id="DictWithDataResultMap" type="com.homi.domain.dto.dict.DictWithDataVO">
        <id column="dictCode" property="dictCode"/>
        <id column="dictName" property="dictName"/>
        <collection property="dictDataList" ofType="com.homi.domain.dto.dict.data.DictDataVO">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="value" property="value"/>
            <result column="color" property="color"/>
        </collection>
    </resultMap>

    <!-- 查询所有字典及其下的数据项 -->
    <select id="listAllDictWithData" resultMap="DictWithDataResultMap">
        SELECT d.dict_code AS dictCode,
               d.dict_name AS dictName,
               dd.id       As id,
               dd.name     AS `name`,
               dd.value    AS `value`,
               dd.color    AS color
        FROM sys_dict d
                 LEFT JOIN
             sys_dict_data dd ON d.id = dd.dict_id
        where d.deleted = 0
          and dd.status = 1
        ORDER BY d.dict_code, dd.sort
    </select>

    <!-- 查询所有字典及其下的数据项 -->
    <select id="listDictListWithData" resultMap="DictWithDataResultMap">
        SELECT d.dict_code AS dictCode,
               d.dict_name AS dictName,
               dd.id       As id,
               dd.name     AS `name`,
               dd.value    AS `value`,
               dd.color    AS color
        FROM sys_dict d
                 LEFT JOIN
             sys_dict_data dd ON d.id = dd.dict_id
        where d.deleted = 0
          and dd.status = 1
          and d.parent_id = #{parentId}
        ORDER BY d.dict_code, dd.sort
    </select>
</mapper>
