<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homi.dao.mapper.TenantContractMapper">

    <select id="getStatusTotal" resultType="com.homi.domain.vo.tenant.TenantTotalItemVO">
        select
            tc.status,
            count(*) as total
        from
            tenant_contract tc left join tenant t on tc.tenant_id = t.id
        where tc.deleted = false
          and t.deleted = false
        <include refid="tenantListQuery"/>
        group by
            tc.status
    </select>

    <sql id="tenantListQuery">
        <if test="query.name != null and query.name != ''">
            and t.name like concat('%', #{query.name,jdbcType=VARCHAR}, '%')
        </if>

        <if test="query.phone != null">
            and t.phone = #{query.phone,jdbcType=VARCHAR}
        </if>
        <if test="query.tenantType != null">
            and tc.tenant_type = #{query.tenantType,jdbcType=INTEGER}
        </if>

    </sql>
</mapper>
