<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homi.model.mapper.UserCompanyMapper">

    <select id="selectUserList" resultType="com.homi.domain.vo.company.user.UserVO">
        SELECT cu.id as company_user_id,
        u.id as user_id,
        u.username,
        u.real_name,
        u.id_type,
        u.id_no,
        u.email,
        u.phone,
        cu.company_id,
        cu.dept_id,
        u.nickname,
        u.avatar,
        u.gender,
        u.birthday,
        cu.status,
        u.remark,
        u.create_time,
        u.create_by,
        u.register_source
        FROM company_user cu left join user u ON cu.user_id = u.id
        <where>
            <if test="query.username != null and query.username != ''">
                AND u.username LIKE CONCAT('%', #{query.username}
                , '%')
            </if>
            <if test="query.email != null and query.email != ''">
                AND u.email = #{query.email}
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND u.phone = #{query.phone}
            </if>
            <if test="query.deptId != null and query.deptId != ''">
                AND cu.dept_id = #{query.deptId}
            </if>
            <if test="query.nickname != null and query.nickname != ''">
                AND u.nickname LIKE CONCAT('%', #{query.nickname}, '%')
            </if>
            <if test="query.status != null">
                AND u.status = #{query.status}
            </if>
            and cu.deleted = false
            and u.deleted = false
        </where>
        ORDER BY cu.id DESC
    </select>
</mapper>
