<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homi.model.dao.mapper.BookingMapper">
    <select id="getStatusTotal" resultType="com.homi.model.booking.vo.BookingTotalItemVO">
        select b.booking_status as status,
               count(*)         as total
        from booking b
        where b.deleted = false
        <include refid="bookingListQuery"/>
        group by b.booking_status
    </select>

    <sql id="bookingListQuery">
        <if test="query.tenantName != null and query.tenantName != ''">
            and b.tenant_name like concat('%', #{query.tenantName,jdbcType=VARCHAR}, '%')
        </if>

        <if test="query.tenantPhone != null and query.tenantPhone != ''">
            and b.tenant_phone =
                #{query.tenantPhone,jdbcType=VARCHAR}
        </if>
        <if test="query.bookingStatus != null">
            and b.booking_status = #{query.bookingStatus,jdbcType=INTEGER}
        </if>
    </sql>
</mapper>
