<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homi.model.dao.mapper.RoomTrackMapper">

    <select id="getRoomTracksByRoomId" resultType="com.homi.model.room.vo.RoomTrackVO">
        select rt.*, u.nickname as update_by_name
        from room_track rt,
             user u
        where rt.update_by = u.id
          and room_id = #{roomId}
        order by update_time desc
    </select>
</mapper>
